<div *ngIf="renderedCulture == translateService.activeCulture">
  <app-header (cultureChanged)="handleCultureChange($event)"></app-header>
  <div class="main-content">
    <div id=about-me>
      <app-summary-bio></app-summary-bio>
    </div>
    <div id="skills">
      <h3 class="text-center"><i class="fa fa-code"></i>Skills</h3>
      <app-skills></app-skills>
    </div>
    <div id="work-experience">
      <h3 class="text-center"><i class="fa fa-suitcase"></i>Work Experience</h3>
      <app-work-experience></app-work-experience>
    </div>
    <div id="projects">
      <h3 class="text-center"><i class="fa fa-cloud"></i>Projects</h3>
      <app-projects></app-projects>
    </div>
    <div id="education">
      <h3 class="text-center"><i class="fa fa-graduation-cap"></i>Education</h3>
      <app-education></app-education>
    </div>
    <div id="contact">
      <h3 class="text-center"><i class="fa fa-envelope-open"></i>Contact Me</h3>
      <app-contact></app-contact>
    </div>
    <ngx-loading [show]="loadingService.active" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
</div>
