<div class="skills container well">
  <div class="row">
    <div class="col-md-6 col-xs-12" *ngFor="let group of skillGroups; let outerIndex = index;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>{{group}}</h5>
        </div>
        <div class="panel-body">
          <div class="progress" *ngFor="let skill of groupedSkills[group]; let innerIndex = index">
            <div class="progress-bar progress-bar-striped" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0"
              aria-valuemax="100" [style.width.%]="skill.progress*10" [ngClass]="getCurrentSkillClass(skill.progress)">
              <span [attr.title]="skill.description | translate">{{skill.name}} : {{skill.progress}}/10</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
