<div class="container well profile" *ngIf="bioSummaryInfo">
  <div class="col profile-pic text-center col-md-3">
    <img class="img-circle img-responsive animated fadeIn" src="./assets/images/me.jpg">
    <ul class="social-link">
      <li>
        <a [href]="bioSummaryInfo.contactInformation.github" target="_blank" title="GitHub">
          <i class="fa fa-github animated fadeIn"></i>
        </a>
      </li>
      <li>
        <a [href]="bioSummaryInfo.contactInformation.facebook" target="_blank" title="Facebook">
          <i class="fa fa-facebook animated fadeIn"></i>
        </a>
      </li>
      <li>
        <a [href]="bioSummaryInfo.contactInformation.twitter" target="_blank" title="Twitter">
          <i class="fa fa-twitter animated fadeIn"></i>
        </a>
      </li>
      <li>
        <a [href]="bioSummaryInfo.contactInformation.linkedin" target="_blank" title="LinkedIn">
          <i class="fa fa-linkedin animated fadeIn"></i>
        </a>
      </li>
      <li>
        <a [href]="sanitize(bioSummaryInfo.contactInformation.skype)" title="Chat on Skype">
          <i class="fa fa-skype animated fadeIn"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="col col-md-9">
    <h2>Ozan KANIK</h2>
    <h4>{{bioSummaryInfo.title}}</h4>
    <table class="table table-responsive">
      <tbody>
        <tr>
          <td>{{'Title.Age' | translate}}</td>
          <td>{{age}}</td>
        </tr>
        <tr>
          <td>{{'Title.Location' | translate}}</td>
          <td>{{bioSummaryInfo.location}}</td>
        </tr>
        <tr>
          <td>{{'Title.Email' | translate}}</td>
          <td>
            <a [href]="bioSummaryInfo.email | mailto">{{bioSummaryInfo.email}}</a>
          </td>
        </tr>
        <tr>
          <td>{{'Title.Phone' | translate}}</td>
          <td>
            <canvas #phoneCanvas width="150" height="15" id="phoneCanvas"></canvas>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
