<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav text-center">
        <li>
            <a class="smooth" href="#about-me">About Me</a>
        </li>
        <li>
            <a class="smooth" href="#skills">Skills</a>
        </li>
        <li>
            <a class="smooth" href="#work-experience">Work Experience</a>
        </li>
        <li>
            <a class="smooth" href="#projects">Projects</a>
        </li>
        <li>
            <a class="smooth" href="#education">Education</a>
        </li>
        <li>
            <a class="smooth" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- navbar-fixed-top -->