<div class="container well profile">
  <div class="col profile-pic text-center col-md-3">
    <img class="img-circle img-responsive" src="./assets/images/me.jpg">
    <ul class="social-link">
      <li>
        <a href="https://www.facebook.com/JnRMnT" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/JnRMnT" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ozan-kanik-63651440" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="skype:ozan.kanik?chat">
          <i class="fa fa-skype"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="col col-md-9">
    <h2>Ozan KANIK</h2>
    <h4>Full Stack Developer</h4>
    <table class="table table-responsive">
      <tbody>
        <tr>
          <td>AGE</td>
          <td>{{age}}</td>
        </tr>
        <tr>
          <td>LOCATION</td>
          <td>Istanbul, TURKEY</td>
        </tr>
        <tr>
          <td>EMAIL</td>
          <td><a href="mailto:ozankanik@gmail.com">ozankanik@gmail.com</a></td>
        </tr>
        <tr>
          <td>PHONE</td>
          <td><canvas width="150" height="15" id="phoneCanvas"></canvas></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>