<div class="well container timeline-container">
    <div class="timeline">
        <div class="container" *ngFor="let workExperience of workExperiences;let isOdd = odd;let isEven = even;" [ngClass]="{'left':isEven,'right':isOdd}">
            <div class="content">
                <div>
                    <div class="pull-right" *ngIf="workExperience.thumbnailUrl">
                        <img class="img-thumbnail img-responsive" [src]="workExperience.thumbnailUrl" />
                    </div>
                    <h2>{{workExperience.company}}</h2>
                    <h3>{{workExperience.title}}</h3>
                    <h4>{{workExperience | dateInterval}}</h4>
                </div>
                <p [innerHTML]="workExperience.description | translate"></p>
            </div>
        </div>
    </div>
</div>
